footer {
    padding: 10px;
    background-color: var(--green);
    color: var(--text-inverse);
    text-align: center;
    font-style: italic;
    border-radius: 10px 10px 0 0;
    
    position: relative;
    a {
        color: var(--text-inverse);
        text-decoration: none;

        &:hover {
            font-weight: bold;
        }
    }
}
