footer {
    background-color: var(--green);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: var(--text-inverse);
    position: relative;
    font-style: italic;
    a {
        color: var(--text-inverse);
        text-decoration: none;

        &:hover {
            font-weight: bold;
        }
    }
}
