header {
    background-color: var(--color-neutral-1);
    padding: clamp(0.5rem, 2vw, 1rem);
    box-shadow: none;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: clamp(4em, 10vh, 6em);
    
    transition: box-shadow .5s;
    position: sticky;
    top: 0;
    z-index: 2;
    
    img {
        height: 100%;
    }
    
    nav {
        place-self: center end;
        position: relative;
        margin-right: clamp(0.5rem, 2vw, 1rem);

        display: flex;
        flex-direction: column;
        align-items: end;
        
        .menu-button {
            font-size: clamp(1rem, 10vw, 2rem);
            color: var(--text-main);
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: color 0.2s ease;
            
            &:hover {
                color: var(--color-neutral-3);
            }
        }
    
        .menu {
            list-style: none;
            width: clamp(100px, 30vw, 500px);

            position: absolute;
            top: 85%;
            display: none;
            
            li {
                font-size: clamp(1rem, 2vw, 2rem);
                padding: 15px;
                margin: 5px 0;
                text-align: center;
                
                border: 1px solid rgba(255, 255, 255, 0.3);
                border-radius: 10px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
                
                background:  rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                
                a {
                    color: var(--text-main);
                    text-decoration: none;
                }
                
                &:hover {
                    background-color: rgba(94, 78, 69, 0.4);
                    a {
                        color: var(--text-inverse);
                    }
                }
            }
        }
        
        &:hover .menu {
            display: block;
        }
        
        .menu.show {
            display: block;
        }
    }

    .options {
        display: none;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (min-width: 800px) {
}

@media screen and (min-width: 1080px) {
    header {
        background:  rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        grid-template-columns: auto 3fr 1fr;
        
        nav {
            place-self: center;
            
            .menu-button {
                display: none;
            }
            
            .menu.show {
                display: flex;
            }

            .menu {
                width: 100%;
                position: static;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 10px;
                
                li {
                    font-size: 1rem;
                    padding: 5px 20px;
                    margin: 0;
                    border-radius: 20px;
                    
                }
            }
    
            &:hover .menu {
                display: flex;
            }
        }
    
        .options {
            display: flex;
        }
    }
}