@import url('main-sections/section-home.css');
@import url('main-sections/section-trending.css');
@import url('main-sections/section-about.css');
@import url('main-sections/section-products.css');

main {
    background: var(--color-neutral-1) url('../../../../images/background-mobile.webp') top center / 100% repeat-y;
    padding: 10px;

    section {
        margin-bottom: 7vh;
        scroll-margin-top: calc(clamp(6rem, 10vw, 8rem) + 5vh);

        overflow: visible !important;
        animation: scrollReveal linear auto;
        animation-timeline: view();
        animation-range: entry 0% cover 10%;
    }
}

@media screen and (min-width: 1080px) {
    main {
        background: var(--color-neutral-1) url('../../../../images/background-desktop.webp') top center / cover no-repeat;
    }
}