@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Cores Principais */
    --green: #00704a;
    --dark-green: #1e3932;
    --middle-green: #2da471;
    --light-green: #d4e9e2;

    /* Neutros e Fundo */
    --color-neutral-0: #ffffff;
    --color-neutral-1: #eee4db;
    --color-neutral-2: #d4c3b6;
    --color-neutral-3: #b8a99e;
    --color-neutral-4: #9e8f85;
    --color-neutral-5: #7e6e65;
    --color-neutral-6: #5e4e45;
    --color-neutral-7: #3e2e25;
    --color-neutral-8: #1e0e05;
    --color-neutral-9: #000000;


    /* Textos */
    --text-main: #212121;
    --text-inverse: #ededed;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-neutral-1);
    font-family: 'Poppins', sans-serif;
    color: var(--text-main);
}

header {
    background-color: var(--color-neutral-1);
    height: clamp(6rem, 10vw, 8rem);
    padding: clamp(0.5rem, 2vw, 1rem);
    box-shadow: none;
    transition: box-shadow .5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;

    img {
        height: 100%;
    }
}

header nav {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    position: relative;
    
    .menu-button {
        font-size: clamp(1rem, 10vw, 2rem);
        color: var(--text-main);
        background-color: transparent;
        border: none;
        margin-right: clamp(0.5rem, 2vw, 1rem);
        cursor: pointer;
        transition: color 0.2s ease;
        
        &:hover {
            color: var(--color-neutral-3);
        }
        
    }

    .menu {
        list-style: none;
        width: 40vw;
        position: absolute;
        top: 85%;
        display: none;
        
        li {
            font-size: clamp(1rem, 2vw, 2rem);
            padding: 15px;
            margin: 5px 0;
            text-align: center;
            
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 10px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
            
            background:  rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            
            a {
                color: var(--text-main);
                text-decoration: none;
            }
            
            &:hover {
                background-color: rgba(94, 78, 69, 0.4);
                a {
                    color: var(--text-inverse);
                }
            }
        }
    }
    
    &:hover {
        .menu {
            display: block;
        }
    }
    
    .menu.show {
        display: block;
    }
}
 
main {
    background: var(--color-neutral-1) url('../images/background-mobile.webp') top center / 100% repeat-y;
    padding: 10px;
    
    section {
        margin-bottom: 7vh;
        scroll-margin-top: calc(clamp(6rem, 10vw, 8rem) + 5vh);
    }

    h1 {
            font-size: clamp(2em, 10vw, 3.5em);
            text-transform: uppercase;
            text-align: center;
        }

    h2 {
        font-size: clamp(1.8em, 6vw, 2.5em);
        display: inline-block;

        &::after {
            content: "";
            display: block;
            width: 50%;
            height: 4px;
            background-color: var(--green);
        }
    }

    h3, p {
        font-size: clamp(0.8em, 3vw, 1.3em);
    }

    .center {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.options a {
    display: inline-block;
}

.classic-button {
    background-color: var(--green);
    color: var(--color-neutral-1);
    font-weight: 500;
    font-size: clamp(0.8em, 5vw, 1.6em);
    padding: 10px;
    width: clamp(150px, 40%, 250px);
    border: 2px solid var(--green);
    border-radius: 10px;
    box-shadow: 0 3px 0 var(--dark-green);
    transition: all .2s;
    cursor: pointer;
}

.classic-button.secondary {
    background-color: var(--color-neutral-1);
    color: var(--green);
}

.classic-button:hover {
    background-color: var(--middle-green);
    color: var(--text-inverse);
    border-color: var(--green);
    box-shadow: 0 -3px 0 var(--dark-green);
    transform: translateY(2px);
}

section.home {
    padding: 20px;
    .photo img {
        width: clamp(300px, 50% , 400px);
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;

        strong {
            color: var(--green);
        }
        
        p {
            text-align: justify;
            max-width: 600px;
            margin: 30px 10px;
        }
    }
    
    .options {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}

section.trending {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
        margin: 10px 0 20px;
    }

    .photo img {
        width: clamp(300px, 70%, 500px);
    }
    
    .info h3 {
        font-weight: 700;
        text-align: center;
    }

    .info p {
        font-weight: 400;
        text-align: center;
    }
}

section.about {
    background: var(--green) url('../images/about/bg-about.webp') top center / 100% repeat-y;
    margin-right: -10px;
    margin-left: -10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px var(--color-neutral-5);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
        color: var(--color-neutral-1);

        &::after {
            background-color: var(--color-neutral-1);
        }
    }

    .photo img {
        width: 80%;
    }

    .info article {
        background:  rgba(94, 78, 69, 0.3);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        margin: 10px 0;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        color: var(--color-neutral-1);
        
        h1 {
            font-size: clamp(1.5em, 6vw, 2em);
        }

        p {
            text-align: justify;
        }

        strong {
            color: #e7d748;
        }
    }
}

section.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin: auto -10px;
    justify-items: center;
    isolation: isolate;
    
    .container {
        width: 100%;
        position: relative;
        overflow-x: clip;

        .circle-detail {
            width: 70%;
            max-height: 150%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: var(--middle-green);
            
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
        }
    }

    .container:nth-child(odd) {
        .circle-detail {
            left: 100%;
        }
        
        .product {
            flex-direction: row-reverse;
        }

        .product .info {
            text-align: end;
        }
    }
    
    .product {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding: 10px;
        
        .photo {
            width: 38%;
            display: flex;
            justify-content: center;
            img {
                height: clamp(200px, 10vw, 300px);
            }
        }

        .info {
            text-align: start;
            width: 1fr;
        }
    }
}

footer {
    background-color: var(--green);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: var(--text-inverse);
    position: relative;
    font-style: italic;
    a {
        color: var(--text-inverse);
        text-decoration: none;

        &:hover {
            font-weight: bold;
        }
    }
}