section.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;

    .photo img {
        width: clamp(150px, 50%, 300px);
    }

    .info {
        max-width: 600px;
        
        h1 {
            text-shadow: -2px 0 6px var(--color-neutral-1);
        }

        strong {
            color: var(--green);
        }

        p {
            margin: 30px;
            text-align: justify;
            text-shadow: -1px 0 3px var(--color-neutral-1);
        }
    }

    .options {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}