section.about {
    background: var(--green) url('../../../../../images/about/bg-about.webp') top center / 100% repeat-y;
    margin-right: -10px;
    margin-left: -10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px var(--color-neutral-5);

    display: grid;
    grid-template: auto auto / 1fr;

    h2 {
        color: var(--color-neutral-1);
        place-self: center;

        &::after {
            background-color: var(--color-neutral-1);
        }
    }

    .photo {
        width: 100%;

        img {
            width: clamp(100px, 100%, 400px);
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article {
        background: rgba(94, 78, 69, 0.3);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        width: clamp(100px, 100%, 500px);
        margin: 10px 0;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        color: var(--color-neutral-1);

        h1 {
            font-size: clamp(1.5em, 6vw, 2em);
        }

        p {
            text-align: justify;
        }

        strong {
            color: var(--text-strong);
        }
    }
}

@media screen and (min-width: 800px) {
    section.about {
        max-width: 1300px;
        margin: auto;
    
        .info{
            display: grid;
            grid-template: auto auto / repeat(3, 1fr);
        }
    
        article.info1 {
            order: -1;
        }
    }
}