section.about {
    background: var(--green) url('../../../../../images/about/bg-about.webp') top center / 100% repeat-y;
    margin-inline: -10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px var(--color-neutral-5);

    display: grid;
    grid-template-columns: 1fr;

    h2 {
        color: var(--color-neutral-1);
        place-self: center;

        &::after {
            background-color: var(--color-neutral-1);
        }
    }

    .photo {
        width: 100%;

        img {
            width: clamp(100px, 100%, 300px);
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article {
        width: 100%;
        
        background: rgba(94, 78, 69, 0.3);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        color: var(--color-neutral-1);
        border-radius: 10px;
        margin: 10px 0;
        padding: 10px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);

        h1 {
            font-size: clamp(1.5em, 6vw, 2em);
        }

        p {
            text-align: justify;
        }

        strong {
            color: var(--text-strong);
        }

        transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        will-change: transform;

        &.info1:hover {
            transform: translate(-10px, -10px);
        }

        &.info2:hover {
            transform: translate(10px, -10px);
        }
    }
}

@media screen and (min-width: 800px) {
    section.about {
        max-width: 1000px;
        margin-inline: auto;

    
        .info{
            flex-direction: row;
            justify-content: space-around;
        }
    
        article.info1 {
            order: -1;
        }
    }
}